<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keren_schlissel_app.beta">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_icon"
        android:label="קרן שליסל אלקבץ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Main_Screen"></activity>
        <activity android:name=".sessions" />
        <activity android:name=".Substitutes" />
        <activity android:name=".tosafim" />
        <activity android:name=".Matcon" />
        <activity android:name=".Settings" />
        <activity android:name=".Credits" />
        <activity android:name=".recipes" />
        <activity android:name=".tafritim" />
        <activity android:name=".Register_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>